[submodule "firmware/libraries/LiquidCrystal_I2C1602V1"]
	path = firmware/libraries/LiquidCrystal_I2C1602V1
	url = https://github.com/openenergymonitor/LiquidCrystal_I2C1602V1
[submodule "firmware/libraries/emonlib"]
	path = firmware/libraries/emonlib
	url = https://github.com/openenergymonitor/emonlib
[submodule "firmware/libraries/jeelib"]
	path = firmware/libraries/jeelib
	url = https://github.com/jcw/jeelib
[submodule "firmware/libraries/OneWire"]
	path = firmware/libraries/OneWire
	url = https://github.com/PaulStoffregen/OneWire
