[Unit]
Description=emonPiLCD service description
DefaultDependencies=no
Before=shutdown.target
Conflicts=shutdown.target
Requires=local-fs.target
After=sysinit.target syslog.target local-fs.target

[Service]
User=pi
PIDFile=/var/run/emonpi.pid
Environment='LOG_PATH=/var/log/emoncms'
ExecStart=/opt/openenergymonitor/emonpi/lcd/emonPiLCD.py --logfile=${LOG_PATH}/emonpilcd/emonpilcd.log
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p ${LOG_PATH}/emonpilcd/
ExecStartPre=/bin/chgrp -R pi ${LOG_PATH}/emonpilcd/
ExecStartPre=/bin/chmod 775 ${LOG_PATH}/emonpilcd/
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
